[submodule "lib/codemirror"]
	path = lib/codemirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "lib/nino"]
	path = lib/nino
	url = git://github.com/Pauan/nino.git
[submodule "lib/nuit"]
	path = lib/nuit
	url = git://github.com/Pauan/nuit.git
