[submodule "lib/nuit"]
	path = lib/nuit
	url = git://github.com/Pauan/nuit.git
[submodule "lib/nino"]
	path = lib/nino
	url = git://github.com/Pauan/nino.git
[submodule "lib/codemirror"]
	path = lib/codemirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "node_modules/optimist"]
	path = node_modules/optimist
	url = http://github.com/substack/node-optimist.git
