[submodule "lib/nuit"]
	path = lib/nuit
	url = https://github.com/Pauan/nuit.git
[submodule "lib/codemirror"]
	path = lib/codemirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "lib/util"]
	path = lib/util
	url = https://github.com/Pauan/util.git
[submodule "lib/js-loader"]
	path = lib/js-loader
	url = https://github.com/Pauan/js-loader.git
[submodule "lib/uglify-js"]
	path = lib/uglify-js
	url = https://github.com/mishoo/UglifyJS2.git
[submodule "lib/escodegen"]
	path = lib/escodegen
	url = https://github.com/Constellation/escodegen.git
