@charset "UTF-8";

/*textarea {
        resize: none;
      }*/

html, body, .CodeMirror, #table, #output, #sandbox {
  margin: 0px;
  border: none;
  width: 100%;
  height: 100%;
}

.CodeMirror, #table, #output, #sandbox, #buttons {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#buttons {
  padding-top: 2px;
  /*width: 600px;*/
  width: 100%;
  /*padding-bottom: 5px;*/
  /*text-align: center;
  padding-right: 10px;*/
  /*height: 26px;*/
  height: 2em;
  position: absolute;
  z-index: 6; /* needed so it'll be just underneath the scrollbar */
  padding-right: 35px;
  background-color: black;
}

#debug {
  float: right;
}

#debug > input {
  vertical-align: middle;
}

.CodeMirror-lines {
  padding: 0px;
  margin-top: 2em;
  padding: 1em 0px;
}

/*.CodeMirror pre {
  padding: 0px 2px;
}*/

button {
  margin-left: 210px;
  padding: 0px 5px;
  /*float: right;
  margin-right: 25px;*/
  font-size: 10px;
}

body {
  overflow: hidden;
  font-size: 12px;
  background-color: #babdb6;
}

#table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0px;
}

.CodeMirror, #output, #sandbox {
  border: 1px solid black;
}

td {
  padding: 0px;
}

.wrapper-for-firefox {
  height: 100%;
  position: relative;
}

#sandbox {
  position: absolute;
  top: -1px;
  left: 1px;
  /*display: block;*/ /* aurgh why does this work?! */
}
#output {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 5px;
}
/*
td:first-child {
  padding-left: 0px;
}
td:last-child {
  padding-right: 0px;
}
tr:first-child td {
  padding-top: 0px;
}
tr:last-child td {
  padding-bottom: 0px;
}*/

.CodeMirror {
  position: absolute;
  top: 0px;
  left: -1px;
  border-top: none;
  border-bottom: none;
}
.activeline {
  background: #2e3436 !important;
}

/*.CodeMirror, #output, #sandbox {
  margin: 1px;
}*/

.CodeMirror-scroll, #output, #sandbox {
  overflow: auto;
  /*padding: 5px;*/
}
/*
#output, #sandbox {
  white-space: pre-wrap;
  word-wrap: break-word;
}*/
/*
#input {
  font-family: monospace;
  outline: none;
}*/

.CodeMirror-matchhighlight {
  display: inline-block;
  background: rgba(0, 0, 0, 0.75);
  /*text-decoration: underline overline;*/
  outline: 1px solid rgba(255, 255, 255, 0.3);
}
/*.CodeMirror-matchhighlight::after {
  background: #555753;
  height: 5px;
  content: " ";
}*/

.nulan-error {
  font-family: monospace;
  font-size: 12px;
  background: #ffa;
  //padding: 2px 5px 3px;
  padding-top: 1px;
  padding-bottom: 2px;
}

.nulan-error-message {
  display: inline-block;

  font-family: inherit;
  white-space: pre;
  color: #a00;
}

.nulan-error-icon {
  /*display: inline-block;*/
  float: left;

  color: white;
  background-color: red;
  font-weight: bold;
  font-family: arial;
  border-radius: 25%;

  padding-left: 5px;
  padding-right: 4px;
  padding-top: 1px;

  margin-left: 2px;
  margin-right: 4px;
}
