@charset "UTF-8";

#sandbox, #output {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #main {
  height: 100%;
}

body {
  font: 12px monospace;
  margin: 0px;
  background-color: #babdb6;
}

#main {
  display: -webkit-flex;
}

#main > div {
  height: 100%; /* TODO: needed because -webkit-flex-align: stretch doesn't seem to work? */
}

#sidebar, #editors, #sandbox, #output {
  background: #0c1214;
  color: #eeeeec;
}

#sidebar, #panels {
  width: 250px;
}

#editors {
  -webkit-flex: 1;
  margin: 0px 1px;
}

.CodeMirror {
  height: 100%;
}

#panels {
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

/*#panels > div {
  -webkit-flex: 1;
}*/

#sandbox {
  margin-top: -1px;
  padding-top: 1px;
  margin-bottom: 1px;
}

#sandbox > iframe {
  border: none;
  width: 100%;
  height: 100%;
}

#sandbox, #output {
  height: 50%;
}

/*.CodeMirror-lines {
  padding: 0px;
  margin-top: 2em;
  padding: 1em 0px;
}*/

/*.CodeMirror pre {
  padding: 0px 2px;
}*/

/*body {
  overflow: hidden;
}*/

#output {
  line-height: 1;
  padding: 5px;
  white-space: pre;
  /*.CodeMirror-scroll*/ overflow: auto;
}

#debug-label {
  float: right;
}

#debug-label > input {
  vertical-align: middle;
}

.activeline {
  background: #2e3436 !important;
}

.CodeMirror-matchhighlight {
  display: inline-block; /* TODO: used only for visual purposes */
  background: rgba(0, 0, 0, 0.75);
  /*text-decoration: underline overline;*/
  margin: -1px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nulan-error {
  font-family: monospace; /* TODO */
  font-size: 12px;
  background: #ffa;
  /*padding: 2px 5px 3px;*/
  padding-top: 1px;
  padding-bottom: 2px;
}

.nulan-error-message {
  display: inline-block; /* TODO */

  font-family: inherit;
  white-space: pre;
  color: #a00;
}

.nulan-error-icon {
  /*display: inline-block;*/
  float: left; /* TODO */

  color: white;
  background-color: red;
  font-weight: bold;
  font-family: arial;
  border-radius: 25%;

  padding-left: 5px;
  padding-right: 4px;
  padding-top: 1px;

  margin-left: 2px;
  margin-right: 4px;
}
