@charset "UTF-8";
/* This is a custom CSS Theme for CodeMirror */

.cm-s-custom .CodeMirror-selected {
  background: #2e3436 !important;
}
.cm-s-custom .CodeMirror-focused .CodeMirror-selected {
  background: #555753 !important;
}
.cm-s-custom .CodeMirror-gutters {
  background: black;
  border-right: 1px solid #1A1A1A;
}
.cm-s-custom .CodeMirror-linenumber {
  color: #555753;
}
.cm-s-custom .CodeMirror-cursor {
  border-left: 1px solid #d3d7cf !important;
}

.cm-s-custom span.cm-operator   { color: #d3d7cf; } /* syntax */
.cm-s-custom span.cm-variable-2 { color: hsl(210, 95%, 70%); } /* locals */
.cm-s-custom span.cm-variable   { color: hsl(40,  95%, 50%); } /* functions */
.cm-s-custom span.cm-keyword    { color: hsl(90,  90%, 50%); } /* macros */

.cm-s-custom span.cm-hidden     { display: none; }

.cm-s-custom span.cm-comment    { color: #888a85; }
/*.cm-s-custom span.cm-comment-doc:first-child {
  margin-left: -21px;*/
  /*clip: rect(0px, auto, auto, 5px);*/
  /*position: absolute;*/
  /*content: "  ";*/
  /*background-color: #0c1214;*/
/*}*/
/*.cm-s-custom span.cm-comment-doc:first-child { margin-left: -17px; }*/ /* TODO: don't hardcode this */
/*.cm-s-custom span:not(.cm-comment-doc):first-child { margin-left: 14px; }*/ /* TODO: don't hardcode this */

.cm-s-custom span.cm-string {
  position: relative;
  color: hsl(5, 50%, 50%);
  /*color: hsl(20, 100%, 50%);*/
}

.cm-s-custom span.cm-string::before,
.cm-s-custom span.cm-string::after {
  content: "\"";
  color: hsl(5, 90%, 50%);
}
.cm-s-custom span.cm-string::before {
  position: absolute;
  left: 0px;
}
.cm-s-custom span.cm-string::after {
  position: absolute;
  right: 0px;
}

.cm-s-custom span.cm-number,
.cm-s-custom span.cm-atom    { color: hsl(5, 90%, 50%); }
